Checks: >
  google-*,
  modernize-*,
  readability-*,
  performance-*,
  -google-build-using-namespace,           # allow using-directives
  -google-readability-function-size,       # skip size limits
  -modernize-use-trailing-return-type,     # don't force C++14 punctuation
  -readability-implicit-bool-conversion    # sometimes makes conditionals verbose

WarningsAsErrors: ''

FormatStyle: file
UseColor: true

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
